@model IEnumerable<ETicaretProje.Models.Siparis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>Index</h2>
</div>



<table class="table table-hover">
    <tr>
        <th>
           Adı Soyadı
        </th>
        <th>
           Adres
        </th>
        <th>
            Telefon
        </th>
        <th>
            Tc Kimlik No
        </th>
        <th>
            Eposta
        </th>
        <th>
            Ürün Adet
        </th>
        <th>
            Toplam Tutar
        </th>
        <th>
            Sipariş Detay
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)

            @Html.DisplayFor(modelItem => item.Soyad)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCKimlikNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eposta)
        </td>
        <td>
           @item.SiparisKalem.Sum(t=>t.Adet)
        </td>
        <td>
            @item.SiparisKalem.Sum(ttutar => ttutar.ToplamTutar)
        </td>
        <td>
            @Html.ActionLink("Detay", "SiparisDetay", new { id=item.SiparisID }) |
           
        </td>
    </tr>
}

</table>
